body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Card {
  width: 200px;
  height: 250px;
  position: relative;
  background-color: white;
  margin: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
}

.textBlack {
  color: black;
}

.textRed {
  color: red;
}

.Card img {
  width: 50px;
}

.topLeft {
  position: absolute;
  top: 8px;
  left: 8px;
}

.bottomRight {
  position: absolute;
  bottom: 5px;
  right: 5px;
}
.outerCard {
  justify-content: center;
}

.containter {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 800px;
}